ElProcesador/Cortes/DNU_ParabiliaProcesoCortes/DNU_ParabiliaProcesoCortes/Web References/com.mysuitetest.www/FactWSFront.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fact.com.mx/schema/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.fact.com.mx/schema/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.fact.com.mx/schema/ws">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RequestTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Requestor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestTransactionResult" type="tns:TransactionTag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionTag">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:FactRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:FactResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData" type="tns:FactResponseData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FactRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Requestor" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestorActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Transaction" type="tns:Transactions" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Transactions">
        <s:restriction base="s:string">
          <s:enumeration value="BASE" />
          <s:enumeration value="NO_TRANSACTION" />
          <s:enumeration value="CONVERT_NATIVE_XML" />
          <s:enumeration value="GET_MTE_BATCH" />
          <s:enumeration value="PROCESS_BATCH" />
          <s:enumeration value="SYSTEM_REQUEST" />
          <s:enumeration value="RECEIVE_BATCH" />
          <s:enumeration value="ENROLL_CERT" />
          <s:enumeration value="GET_XML" />
          <s:enumeration value="GET_HTML" />
          <s:enumeration value="GET_XML_AND_HTML" />
          <s:enumeration value="CANCEL_XML" />
          <s:enumeration value="MARK_XML_AS_PAID" />
          <s:enumeration value="MARK_XML_AS_UNPAID" />
          <s:enumeration value="SEARCH_BASIC" />
          <s:enumeration value="GET_MONTHLY_REPORT" />
          <s:enumeration value="GET_MONTHLY_REPORT_FOR_PROVIDER" />
          <s:enumeration value="GET_FOLIOS_BY_RFC" />
          <s:enumeration value="DOES_ASSIGNMENT_EXIST" />
          <s:enumeration value="CANCEL_XML_BY_INTERNAL_ID" />
          <s:enumeration value="ACTIVATE_ASSIGNMENT" />
          <s:enumeration value="COUNT_ACTIVE_ASSIGNMENTS" />
          <s:enumeration value="GET_DOCUMENT" />
          <s:enumeration value="GET_DOCUMENT_RETENCIONES" />
          <s:enumeration value="AUTHENTICATE_USER" />
          <s:enumeration value="GET_ACCOUNT" />
          <s:enumeration value="DISTRIBUTE" />
          <s:enumeration value="QUEUE_FOR_DISTRIBUTION" />
          <s:enumeration value="GET_EFFECTIVE_RIGHTS" />
          <s:enumeration value="EXEC_STORED_PROC" />
          <s:enumeration value="GET_USER_INFO" />
          <s:enumeration value="RECEIVE" />
          <s:enumeration value="GET_PREVIEW" />
          <s:enumeration value="RETRIEVE_DOCUMENT" />
          <s:enumeration value="MARK_DOCUMENT_AS_PAID" />
          <s:enumeration value="MARK_DOCUMENT_AS_NOT_PAID" />
          <s:enumeration value="CANCEL_DOCUMENT" />
          <s:enumeration value="MARK_DOCUMENT_AS_DELETED" />
          <s:enumeration value="MARK_DOCUMENT_AS_NOT_DELETED" />
          <s:enumeration value="MARK_DOCUMENT_AS_CANCELLED" />
          <s:enumeration value="MARK_DOCUMENT_AS_NOT_CANCELLED" />
          <s:enumeration value="GET_ADDENDA_RECEIVERS" />
          <s:enumeration value="REQUEST_PASSWORD_CHANGE" />
          <s:enumeration value="CHANGE_DOCUMENT_SUCURSAL" />
          <s:enumeration value="CREATE_ACCOUNT_AS_OWNER" />
          <s:enumeration value="CREATE_PASSWORD" />
          <s:enumeration value="PASSWORD_FORGOT" />
          <s:enumeration value="CREATE_USER" />
          <s:enumeration value="INCREMENT_BUNDLE_SIZE" />
          <s:enumeration value="TIMBRAR" />
          <s:enumeration value="LOOKUP_ISSUED_INTERNAL_ID" />
          <s:enumeration value="VALIDATE_CERT" />
          <s:enumeration value="BATCH_SERIAL_OPERATIONS" />
          <s:enumeration value="PROCESS_LCO" />
          <s:enumeration value="ENROLL_THIRD_PARTY_CERT" />
          <s:enumeration value="CANCEL_CFDI" />
          <s:enumeration value="UPDATE_ACCOUNT_DATA" />
          <s:enumeration value="ASSIGN_ACCOUNT_REQUESTOR" />
          <s:enumeration value="UPDATE_USER_DATA" />
          <s:enumeration value="UPDATE_ADMIN_USER_DATA" />
          <s:enumeration value="CREATE_ADMIN_USER" />
          <s:enumeration value="UPSERT_GRAPHIC_REPRESENTATION" />
          <s:enumeration value="LOOKUP_ISSUED_BATCH_AND_SERIAL" />
          <s:enumeration value="CREATE_TIMBRAR_ACCOUNT" />
          <s:enumeration value="CREATE_TIMBRAR_ISSUER_ACCOUNT" />
          <s:enumeration value="LOOKUP_GUATEMALIAN_ISSUED" />
          <s:enumeration value="CLOSE_MONTH" />
          <s:enumeration value="SYSTEM_REQUEST1" />
          <s:enumeration value="GET_ACUSE" />
          <s:enumeration value="GRAPH_REQUEST" />
          <s:enumeration value="CANCEL_SINGLE_CFDI" />
          <s:enumeration value="CONFIG_REFRESH" />
          <s:enumeration value="GET_TIMBRAR_ACCOUNT" />
          <s:enumeration value="GET_TIMBRAR_ISSUER_ACCOUNTS" />
          <s:enumeration value="CONTRACT_ACCEPTANCE" />
          <s:enumeration value="CREATE_FACT_RENEWAL" />
          <s:enumeration value="CREATE_TIMB_RENEWAL" />
          <s:enumeration value="DELETE_FACT_RENEWAL" />
          <s:enumeration value="DELETE_TIMB_RENEWAL" />
          <s:enumeration value="MODIFY_FACT_RENEWAL" />
          <s:enumeration value="MODIFY_TIMB_RENEWAL" />
          <s:enumeration value="RECOVER_FACT_RENEWAL" />
          <s:enumeration value="RECOVER_TIMB_RENEWAL" />
          <s:enumeration value="SELECT_FACT_RENEWAL" />
          <s:enumeration value="SELECT_TIMB_RENEWAL" />
          <s:enumeration value="PREINVOICE_SELECT" />
          <s:enumeration value="PREINVOICE_DELETE" />
          <s:enumeration value="PREINVOICE_UPSERT" />
          <s:enumeration value="VALIDATE_DOCUMENT" />
          <s:enumeration value="ACTIVATE_ACCOUNT" />
          <s:enumeration value="INACTIVATE_ACCOUNT" />
          <s:enumeration value="DELETE_ACCOUNT" />
          <s:enumeration value="ACTIVATE_TIMBRAR_ACCOUNT" />
          <s:enumeration value="INACTIVATE_TIMBRAR_ACCOUNT" />
          <s:enumeration value="DELETE_TIMBRAR_ACCOUNT" />
          <s:enumeration value="GET_ACCOUNTS_CHANGES" />
          <s:enumeration value="GET_TIMBRAR_ACCOUNTS_CHANGES" />
          <s:enumeration value="GET_ACCOUNTSSALES_CHANGES" />
          <s:enumeration value="GET_TIMBRAR_ACCOUNTSSALES_CHANGES" />
          <s:enumeration value="SET_PASS_POLICY" />
          <s:enumeration value="RECEIVE_EX" />
          <s:enumeration value="VALIDATE_DOCUMENT_EX" />
          <s:enumeration value="RETRIEVE_OBSERVATIONS" />
          <s:enumeration value="TIMBRAR_RETENCIONES" />
          <s:enumeration value="TIMBRAR_RETENCION" />
          <s:enumeration value="CANCEL_SINGLE_RETENCIONES" />
          <s:enumeration value="CANCEL_SINGLE_RETENCION" />
          <s:enumeration value="CANCELAR_RETENCION" />
          <s:enumeration value="FIRMAR_RETENCION" />
          <s:enumeration value="END_SESSION_LOG" />
          <s:enumeration value="CANCELAR_RETENCION_MYSUITE" />
          <s:enumeration value="CANCELAR_RETENCION_SINGLE_MYSUITE" />
          <s:enumeration value="AUTHENTICATE" />
          <s:enumeration value="GET_WEB_SCREEN_MAINFRAME" />
          <s:enumeration value="GET_HOME_CONTENT" />
          <s:enumeration value="OBTAIN_TEMPLATE" />
          <s:enumeration value="GET_USER_CREDENTIALS_HTML" />
          <s:enumeration value="OBTAIN_TEMPLATE_COUNT" />
          <s:enumeration value="RETRIEVE_DOCUMENT_HTML" />
          <s:enumeration value="GET_DOC_DETAILS" />
          <s:enumeration value="CANCEL_XML_BATCH" />
          <s:enumeration value="GET_REPORTS" />
          <s:enumeration value="GET_REPORT_DATA" />
          <s:enumeration value="EXECUTE_REPORT" />
          <s:enumeration value="PAY_XML" />
          <s:enumeration value="PAY_XML_BATCH" />
          <s:enumeration value="REDISTRIBUTE" />
          <s:enumeration value="GET_EXCEL_LIST" />
          <s:enumeration value="OBTAIN_TEMPLATE_CONFIG" />
          <s:enumeration value="OBTAIN_TEMPLATE_FOR_PAYMENT" />
          <s:enumeration value="USER_FORGOT" />
          <s:enumeration value="GET_CLIENT_LIST" />
          <s:enumeration value="GET_CLIENT_COUNT" />
          <s:enumeration value="GET_BRANCH_LIST" />
          <s:enumeration value="GET_BRANCH_COUNT" />
          <s:enumeration value="SEND_XML_MAIL" />
          <s:enumeration value="GET_PAYMENTS" />
          <s:enumeration value="DELETE_PAYMENT" />
          <s:enumeration value="GET_FISCAL_DATA" />
          <s:enumeration value="SAVE_TEMPLATE_CONFIG" />
          <s:enumeration value="UPSERT_BANK_ACCOUNTS" />
          <s:enumeration value="DELETE_BANK_ACCOUNTS" />
          <s:enumeration value="GET_USER_CREDENTIALS" />
          <s:enumeration value="UPSERT_BRANCH" />
          <s:enumeration value="INSERT_FISCAL_R" />
          <s:enumeration value="UPDATE_FISCAL_R" />
          <s:enumeration value="REMOVE_FISCAL_R" />
          <s:enumeration value="RETRIEVE_ALL_FISCAL_R" />
          <s:enumeration value="UPSERT_CLIENT" />
          <s:enumeration value="DELETE_CLIENT" />
          <s:enumeration value="GET_DESTINATION_LIST" />
          <s:enumeration value="GET_DESTINATION_COUNT" />
          <s:enumeration value="UPSERT_DESTINATION" />
          <s:enumeration value="UPSERT_FISCAL_DATA" />
          <s:enumeration value="GET_EMPLOYEE_LIST" />
          <s:enumeration value="GET_EMPLOYEE_COUNT" />
          <s:enumeration value="UPSERT_EMPLOYEE" />
          <s:enumeration value="DELETE_EMPLOYEE" />
          <s:enumeration value="GET_ASSOCIATED_ACCOUNTS_LIST" />
          <s:enumeration value="GET_ASSOCIATED_ACCOUNTS_COUNT" />
          <s:enumeration value="SET_ACCOUNT_ACTIVE_STATUS" />
          <s:enumeration value="GET_ACCOUNT_DATA" />
          <s:enumeration value="GET_ACCOUNT_RENEW_INFO" />
          <s:enumeration value="GET_ACCOUNT_SERIAL_INFO" />
          <s:enumeration value="GET_ACCOUNT_CERT_INFO" />
          <s:enumeration value="GET_ACCOUNT_USER_LIST" />
          <s:enumeration value="GET_ACCOUNT_USER_COUNT" />
          <s:enumeration value="GET_ACCOUNT_BRANCH_ASSIGNMENT_LIST" />
          <s:enumeration value="GET_ACCOUNT_BRANCH_ASSIGNMENT_COUNT" />
          <s:enumeration value="GET_ACCOUNT_BY_OWNER" />
          <s:enumeration value="CREATE_ACCOUNT" />
          <s:enumeration value="GET_CLIENT_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_BRANCH_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_DESTINATION_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_CLIENT_BY_ID" />
          <s:enumeration value="GET_BRANCH_BY_ID" />
          <s:enumeration value="GET_DESTINATION_BY_ID" />
          <s:enumeration value="GET_PRODUCT_LIST" />
          <s:enumeration value="GET_PRODUCT_COUNT" />
          <s:enumeration value="GET_PRODUCT_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_PRODUCT_BY_ID" />
          <s:enumeration value="DELETE_PRODUCT" />
          <s:enumeration value="UPSERT_PRODUCT" />
          <s:enumeration value="CHANGE_USER_PASSWORD" />
          <s:enumeration value="GET_FACTS" />
          <s:enumeration value="GET_FACTS_COUNT" />
          <s:enumeration value="RETRIEVE_BANK_ACCOUNT" />
          <s:enumeration value="AMOUNT_TO_STRING" />
          <s:enumeration value="MARK_DOCUMENTS_AS_READ" />
          <s:enumeration value="GET_UNREAD_COUNT" />
          <s:enumeration value="GET_PAYMENTS_JSON" />
          <s:enumeration value="CONVERT_NATIVE_XML_HTML" />
          <s:enumeration value="MARK_DOCUMENTS_AS_READ_HTML" />
          <s:enumeration value="GET_UNREAD_COUNT_HTML" />
          <s:enumeration value="GET_ACUSE_RETENCIONES" />
          <s:enumeration value="CANCEL_XML_HTML" />
          <s:enumeration value="GET_ACCOUNT_INFO" />
          <s:enumeration value="PROCESA_FACTURAS" />
          <s:enumeration value="PROCESA_NOMINA" />
          <s:enumeration value="DOCUMENT_ZIP" />
          <s:enumeration value="AUTHENTICATE_FIEL" />
          <s:enumeration value="UPDATE_ACCOUNT_OWNER" />
          <s:enumeration value="GET_REQUEST_QUEUE" />
          <s:enumeration value="CREATE_REQUEST_QUEUE" />
          <s:enumeration value="UPDATE_REQUEST_QUEUE" />
          <s:enumeration value="PROCESS_REQUEST_QUEUE" />
          <s:enumeration value="DELETE_REQUEST_QUEUE" />
          <s:enumeration value="GET_LINK_QUEUE" />
          <s:enumeration value="GET_REQUEST_QUEUE_COUNT" />
          <s:enumeration value="GET_CATALOG_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_CATALOG_By_ID" />
          <s:enumeration value="FIRMAR_CONTRATO" />
          <s:enumeration value="VALIDAR_COMPLEMENTO" />
          <s:enumeration value="GET_TAXID_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_CLAVEPRODSERV_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_CLAVEPRODSERV_BY_ID" />
          <s:enumeration value="GET_CLAVEUNIDAD_LIST_AUTOCOMPLETE" />
          <s:enumeration value="GET_CLAVEUNIDAD_BY_ID" />
          <s:enumeration value="SOLICITAR_CONFIRMACION" />
          <s:enumeration value="GET_PREINVOICES_BY_ID" />
          <s:enumeration value="RECUPERAR_CLAVE_CONFIRMACION" />
          <s:enumeration value="GET_PREVIEW_HTML" />
          <s:enumeration value="RETRIEVE_DOCUMENT_HTML_FORMATS" />
          <s:enumeration value="LOOKUP_ISSUED_INTERNAL_ID_HTML" />
          <s:enumeration value="PREINVOICE_UPSERT_HTML" />
          <s:enumeration value="GET_ACUSE_CANCEL" />
          <s:enumeration value="RETRIEVE_LCO_INFO" />
          <s:enumeration value="GET_ALERT_CLIENTS_LIST" />
          <s:enumeration value="GET_ALERT_CLIENTS_LIST_TIMBRADO" />
          <s:enumeration value="GET_GLOBAL_DESTINATARIES" />
          <s:enumeration value="CANCEL_XML_JSON" />
          <s:enumeration value="GET_PRIMERA_PETICION" />
          <s:enumeration value="DELETE_PETICIONES" />
          <s:enumeration value="UPDATE_PETICION" />
          <s:enumeration value="DELETE_LIGAS" />
          <s:enumeration value="GET_DOCUMENTS_DATA" />
          <s:enumeration value="GET_TIMBRAR_ACCOUNT_INFO" />
          <s:enumeration value="SEARCH_SAT_CATALOGS" />
          <s:enumeration value="SEARCH_SAT_CATALOGS_V2" />
          <s:enumeration value="SEARCH_SAT_CATALOGS_HTML" />
          <s:enumeration value="SEARCH_SAT_CATALOGS_V2_HTML" />
          <s:enumeration value="UPDATE_USER_DATA_HTML" />
          <s:enumeration value="GET_USERS_HTML" />
          <s:enumeration value="LOOKUP_ISSUED_YEAR_BATCH_AND_SERIAL" />
          <s:enumeration value="VALIDATE_RFC_IN_LRFC" />
          <s:enumeration value="CANCEL_DOCUMENT_2" />
          <s:enumeration value="CANCEL_SINGLE_CFDI_2" />
          <s:enumeration value="OBTENER_PERMISOS_HTML" />
          <s:enumeration value="CONSULTAR_DOCUMENTO" />
          <s:enumeration value="CONSULT_DOCUMENT" />
          <s:enumeration value="CONSULTAR_DOCUMENTO_TIMBRADO" />
          <s:enumeration value="CONSULT_TIMBRAR_DOCUMENT" />
          <s:enumeration value="OBTENER_PETICIONES_PENDIENTES" />
          <s:enumeration value="GET_PENDING_REQUESTS" />
          <s:enumeration value="OBTENER_DOCUMENTOS_RELACIONADOS" />
          <s:enumeration value="GET_RELATED_DOCUMENTS" />
          <s:enumeration value="PROCESAR_PETICIONES" />
          <s:enumeration value="PROCESS_REQUESTS" />
          <s:enumeration value="CANCEL_CFDI_2" />
          <s:enumeration value="CANCEL_XML_JSON_2" />
          <s:enumeration value="CONSULT_DOCUMENT_JSON" />
          <s:enumeration value="GET_UNREAD_CANCEL_ALERTS_COUNT" />
          <s:enumeration value="GET_UNREAD_CANCEL_ALERTS" />
          <s:enumeration value="MARK_UNREAD_CANCEL_ALERT_AS_READ" />
          <s:enumeration value="UPDATE_ACCOUNTS_OWNER" />
          <s:enumeration value="LOGOUT" />
          <s:enumeration value="ASYNC_CONVERT_NATIVE_XML" />
          <s:enumeration value="ASYNC_CONVERT_VERIFY" />
          <s:enumeration value="ASYNC_RETRIEVE_DOCUMENT" />
          <s:enumeration value="PROCESAR_CANCELACION" />
          <s:enumeration value="SAVE_LOGO" />
          <s:enumeration value="REGISTRAR_SOLICITUD_DM_SAT" />
          <s:enumeration value="RENEW_TOKEN" />
          <s:enumeration value="REGISTRAR_SOLICITUD_DM_SAT_HTML" />
          <s:enumeration value="OBTENER_LINK_ARCHIVO_DM_SAT_HTML" />
          <s:enumeration value="OBTENER_LINK_ARCHIVO_DM_SAT" />
          <s:enumeration value="OBTENER_SOLICITUD_DM_SAT_HTML" />
          <s:enumeration value="OBTENER_SOLICITUD_DM_SAT" />
          <s:enumeration value="OBTENER_LISTA_SOLICITUDES_DM_SAT_HTML" />
          <s:enumeration value="OBTENER_LISTA_SOLICITUDES_DM_SAT" />
          <s:enumeration value="EXEC_STORED_PROC_JSON" />
          <s:enumeration value="PASSWORD_FORGOT_HTML" />
          <s:enumeration value="OBTENER_LISTA_ALERTAS_LN_HTML" />
          <s:enumeration value="OBTENER_LISTA_ALERTAS_LN" />
          <s:enumeration value="CAMBIAR_ESTADO_LEIDA_ALERTA_LN_HTML" />
          <s:enumeration value="CAMBIAR_ESTADO_LEIDA_ALERTA_LN" />
          <s:enumeration value="OBTENER_INFO_LN_SAT_HTML" />
          <s:enumeration value="OBTENER_INFO_LN_SAT" />
          <s:enumeration value="SYSTEM_REQUEST2" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FactResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastResult" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Processor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="tns:DocID" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchIdentifier" type="tns:BatchID" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiscalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ANumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Batch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentGUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnrolledTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaidTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelledTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchRequestorCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchRequestorEntity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchPosition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverEntity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverTaxID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveAgente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDePoliza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuggestedFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuggestedFileName2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacionesHtml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BatchID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BatchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchTimeStamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchRequestorCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchRequestorEntity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchPosition" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FactResponseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseDataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="SSLTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataExchange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SSLTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SSLTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecureTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataExchange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecureTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecureTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySuiteTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transaction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataExchange" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrivateData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySuiteTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MySuiteTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateFiel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fielCert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fielKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fielPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateFielResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateFielResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateWTransform">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateWTransformResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateWTransformResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JsonServiceCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JsonServiceCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonServiceCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:RequestTransaction" />
  </wsdl:message>
  <wsdl:message name="RequestTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:RequestTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="SSLTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:SSLTransaction" />
  </wsdl:message>
  <wsdl:message name="SSLTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:SSLTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="SecureTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:SecureTransaction" />
  </wsdl:message>
  <wsdl:message name="SecureTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:SecureTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="MySuiteTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:MySuiteTransaction" />
  </wsdl:message>
  <wsdl:message name="MySuiteTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:MySuiteTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateFielSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateFiel" />
  </wsdl:message>
  <wsdl:message name="AuthenticateFielSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateFielResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateWTransformSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateWTransform" />
  </wsdl:message>
  <wsdl:message name="AuthenticateWTransformSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateWTransformResponse" />
  </wsdl:message>
  <wsdl:message name="JsonServiceCallSoapIn">
    <wsdl:part name="parameters" element="tns:JsonServiceCall" />
  </wsdl:message>
  <wsdl:message name="JsonServiceCallSoapOut">
    <wsdl:part name="parameters" element="tns:JsonServiceCallResponse" />
  </wsdl:message>
  <wsdl:portType name="FactWSFrontSoap">
    <wsdl:operation name="RequestTransaction">
      <wsdl:input message="tns:RequestTransactionSoapIn" />
      <wsdl:output message="tns:RequestTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SSLTransaction">
      <wsdl:input message="tns:SSLTransactionSoapIn" />
      <wsdl:output message="tns:SSLTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecureTransaction">
      <wsdl:input message="tns:SecureTransactionSoapIn" />
      <wsdl:output message="tns:SecureTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MySuiteTransaction">
      <wsdl:input message="tns:MySuiteTransactionSoapIn" />
      <wsdl:output message="tns:MySuiteTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateFiel">
      <wsdl:input message="tns:AuthenticateFielSoapIn" />
      <wsdl:output message="tns:AuthenticateFielSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWTransform">
      <wsdl:input message="tns:AuthenticateWTransformSoapIn" />
      <wsdl:output message="tns:AuthenticateWTransformSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JsonServiceCall">
      <wsdl:input message="tns:JsonServiceCallSoapIn" />
      <wsdl:output message="tns:JsonServiceCallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FactWSFrontSoap" type="tns:FactWSFrontSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestTransaction">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/RequestTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SSLTransaction">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/SSLTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureTransaction">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/SecureTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MySuiteTransaction">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/MySuiteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateFiel">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/AuthenticateFiel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWTransform">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/AuthenticateWTransform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JsonServiceCall">
      <soap:operation soapAction="http://www.fact.com.mx/schema/ws/JsonServiceCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FactWSFrontSoap12" type="tns:FactWSFrontSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestTransaction">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/RequestTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SSLTransaction">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/SSLTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureTransaction">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/SecureTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MySuiteTransaction">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/MySuiteTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateFiel">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/AuthenticateFiel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWTransform">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/AuthenticateWTransform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JsonServiceCall">
      <soap12:operation soapAction="http://www.fact.com.mx/schema/ws/JsonServiceCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FactWSFront">
    <wsdl:port name="FactWSFrontSoap" binding="tns:FactWSFrontSoap">
      <soap:address location="https://www.mysuitetest.com/mx.com.fact.wsfront/FactWSFront.asmx" />
    </wsdl:port>
    <wsdl:port name="FactWSFrontSoap12" binding="tns:FactWSFrontSoap12">
      <soap12:address location="https://www.mysuitetest.com/mx.com.fact.wsfront/FactWSFront.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>