ElProcesador/Procesos/MonitoreoServicioCacao/MonitoreoCacao/MonitoreoCacaoPN/Web References/WebReferenceSMS/ServicioMensajes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.DTOs" />
  <xs:element name="MENSAJERO_EnviarMensajeEsperaRespuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.DTOs" minOccurs="0" name="parametros" nillable="true" type="q1:wsMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENSAJERO_EnviarMensajeEsperaRespuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.DTOs" minOccurs="0" name="MENSAJERO_EnviarMensajeEsperaRespuestaResult" nillable="true" type="q2:wsRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENSAJERO_EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.DTOs" minOccurs="0" name="parametros" nillable="true" type="q3:wsMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENSAJERO_EnviarMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.DTOs" minOccurs="0" name="MENSAJERO_EnviarMensajeResult" nillable="true" type="q4:wsRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>