ElProcesador/Procesos/MonitoreoServicioCacao/MonitoreoCacao/MonitoreoCacaoPN/Web References/WebReferenceSMS/ServicioMensajes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioMensajes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioMensajes_MENSAJERO_EnviarMensajeEsperaRespuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:MENSAJERO_EnviarMensajeEsperaRespuesta" />
  </wsdl:message>
  <wsdl:message name="IServicioMensajes_MENSAJERO_EnviarMensajeEsperaRespuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:MENSAJERO_EnviarMensajeEsperaRespuestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMensajes_MENSAJERO_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:MENSAJERO_EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IServicioMensajes_MENSAJERO_EnviarMensaje_OutputMessage">
    <wsdl:part name="parameters" element="tns:MENSAJERO_EnviarMensajeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioMensajes">
    <wsdl:operation name="MENSAJERO_EnviarMensajeEsperaRespuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensajeEsperaRespuesta" message="tns:IServicioMensajes_MENSAJERO_EnviarMensajeEsperaRespuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensajeEsperaRespuestaResponse" message="tns:IServicioMensajes_MENSAJERO_EnviarMensajeEsperaRespuesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MENSAJERO_EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensaje" message="tns:IServicioMensajes_MENSAJERO_EnviarMensaje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensajeResponse" message="tns:IServicioMensajes_MENSAJERO_EnviarMensaje_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicServicioMensajes" type="tns:IServicioMensajes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MENSAJERO_EnviarMensajeEsperaRespuesta">
      <soap:operation soapAction="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensajeEsperaRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MENSAJERO_EnviarMensaje">
      <soap:operation soapAction="http://tempuri.org/IServicioMensajes/MENSAJERO_EnviarMensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioMensajes">
    <wsdl:port name="BasicServicioMensajes" binding="tns:BasicServicioMensajes">
      <soap:address location="http://209.222.19.75/wsMensajeroSMS/ServicioMensajes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>